if SHIELD_PHANNYBALL_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "PhannyBall"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
  default 1

config BT_MAX_CONN
  default 6

config BT_MAX_PAIRED
  default 6

endif

if SHIELD_PHANNYBALL_LEFT || SHIELD_PHANNYBALL_RIGHT

config ZMK_SPLIT
    default y

endif
