#include <physical_layouts.dtsi>

/ {
    physical_layout_phannyball: physical_layout_phannyball {
        compatible = "zmk,physical-layout";
        display-name = "PhannyBall";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  100   37       0   100    37>
            , <&key_physical_attrs 100 100  200   12       0   200    12>
            , <&key_physical_attrs 100 100  300    0       0   300     0>
            , <&key_physical_attrs 100 100  400   12       0   400    12>
            , <&key_physical_attrs 100 100  500   25       0   500    25>
            , <&key_physical_attrs 100 100 1050   25       0  1050    25>
            , <&key_physical_attrs 100 100 1150   12       0  1150    12>
            , <&key_physical_attrs 100 100 1250    0       0  1250     0>
            , <&key_physical_attrs 100 100 1350   12       0  1350    12>
            , <&key_physical_attrs 100 100 1450   37       0  1450    37>
            , <&key_physical_attrs 100 100    0  150       0     0   150>
            , <&key_physical_attrs 100 100  100  137       0   100   137>
            , <&key_physical_attrs 100 100  200  112       0   200   112>
            , <&key_physical_attrs 100 100  300  100       0   300   100>
            , <&key_physical_attrs 100 100  400  112       0   400   112>
            , <&key_physical_attrs 100 100  500  125       0   500   125>
            , <&key_physical_attrs 100 100 1050  125       0  1050   125>
            , <&key_physical_attrs 100 100 1150  112       0  1150   112>
            , <&key_physical_attrs 100 100 1250  100       0  1250   100>
            , <&key_physical_attrs 100 100 1350  112       0  1350   112>
            , <&key_physical_attrs 100 100 1450  137       0  1450   137>
            , <&key_physical_attrs 100 100 1550  150       0  1550   150>
            , <&key_physical_attrs 100 100    0  250       0     0   250>
            , <&key_physical_attrs 100 100  100  237       0   100   237>
            , <&key_physical_attrs 100 100  200  212       0   200   212>
            , <&key_physical_attrs 100 100  300  200       0   300   200>
            , <&key_physical_attrs 100 100  400  212       0   400   212>
            , <&key_physical_attrs 100 100  500  225       0   500   225>
            , <&key_physical_attrs 100 100 1050  225       0  1050   225>
            , <&key_physical_attrs 100 100 1150  212       0  1150   212>
            , <&key_physical_attrs 100 100 1250  200       0  1250   200>
            , <&key_physical_attrs 100 100 1350  212       0  1350   212>
            , <&key_physical_attrs 100 100 1450  237       0  1450   237>
            , <&key_physical_attrs 100 100 1550  250       0  1550   250>
            , <&key_physical_attrs 100 100    0  350       0     0   350>
            , <&key_physical_attrs 100 100  100  337       0   100   337>
            , <&key_physical_attrs 100 100  200  312       0   200   312>
            , <&key_physical_attrs 100 100  300  300       0   300   300>
            , <&key_physical_attrs 100 100  400  312       0   400   312>
            , <&key_physical_attrs 100 100  500  325       0   500   325>
            , <&key_physical_attrs 100 100 1050  325       0  1050   325>
            , <&key_physical_attrs 100 100 1150  312       0  1150   312>
            , <&key_physical_attrs 100 100 1250  300       0  1250   300>
            , <&key_physical_attrs 100 100 1350  312       0  1350   312>
            , <&key_physical_attrs 100 100 1450  337       0  1450   337>
            , <&key_physical_attrs 100 100 1550  350       0  1550   350>
            , <&key_physical_attrs 100 100  300  412       0   300   412>
            , <&key_physical_attrs 100 100  400  415       0   400   415>
            , <&key_physical_attrs 100 100  500  425       0   500   425>
            , <&key_physical_attrs 100 100 1050  425       0  1050   425>
            , <&key_physical_attrs 100 100 1150  415       0  1150   415>
            , <&key_physical_attrs 100 100 1250  415       0  1250   415>
            ;
    };
};
